:root {
    --bleu-fonce: #12355B;
    --bleu-moyen: #1C5D99;
    --bleu-clair: #2D93AD;
    --jaune: #EDF060;
    --orange: #F0803C;
    --rouge: #B3001B;
}

@font-face {
    src: url("assets/font/brazier_flame.ttf") format("truetype");
    font-family: "Brazier Flame";
}

html, body {
    height: 100%;
}

/*Mise en page du body et centrer le div #game*/
body{
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Brazier Flame";
    background: linear-gradient(to right, var(--bleu-fonce), var(--bleu-moyen), var(--bleu-clair), var(--jaune), var(--orange), var(--rouge));
}

/*Mise en page de l'élément #game et flexbox pour ses enfants*/
#idGame {
    width: 500px;
    min-height: 100px;
    background-color: var(--bleu-moyen);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--bleu-clair);
}

/*Ajuster la taille du logo, de l'image temporaire, le text et de la vidéo*/
#divImage, img, .image, .video {
    width: 175px;
}

#text {
    width: 400px;
    margin: 0px;
    margin-bottom: 5px;
}

/*Aligner le titre au centre de l'affiche*/
.logoJeu {
    text-align: center;
    color: var(--jaune);
    width: 100%;
    -webkit-text-stroke: 1px var(--orange);
    margin-bottom: 0px;
    margin-top: 5px;
}

#chapitre {
    /*-webkit-text-stroke: 1px var(--bleu-clair);*/
    color: var(--bleu-fonce);
    /*background-color: var(--bleu-clair);*/
    padding: 5px;
    margin-bottom: 0px;
    margin-top: 0px;
}

/*Aligner les 3 options horizontalement et mettre le plus d'espace entre les éléments*/
#options, #reset {
    display: flex;
    width: 400px;
    margin: 5px;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
}
/*Donner une marge du bas de 10px*/
#reset  {
    margin-bottom: 10px;
}

/*Mise en page du style des boutons*/
.choix, #btn-reset, label, .chb-soundTrack {
    background-color: var(--bleu-fonce);
    color: var(--bleu-clair);
    text-transform: capitalize;
    border: none;
    font-family: "Brazier Flame";
    padding-left: 2.5px;
    padding-right: 2.5px;
}

/*Effet de survole sur les boutons*/
.choix:hover, #btn-reset:hover, label:hover {
    background-color: var(--orange);
    color: var(--rouge);
    
}

/*Ajouter une image en arrière-plan et changer la couleur du text et des boutons*/
/*Le reveil*/
.le_reveil {
    background-image: url("assets/image/royaume_askr.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.le_reveil #idGame {
    background-color: var(--bleu-clair);
}

.le_reveil .logoJeu {
    color: var(--bleu-moyen);
    -webkit-text-stroke: 1px var(--bleu-fonce);
}

.le_reveil #text {
    color: var(--bleu-fonce);
    -webkit-text-stroke: 1px var(--bleu-moyen);
}

.le_reveil .choix, .le_reveil #btn-reset, .le_reveil label {
    background-color: var(--bleu-moyen);
    color: var(--bleu-clair);
}

.le_reveil .choix:hover, .le_reveil #btn-reset:hover, .le_reveil label:hover {
    background-color: var(--bleu-fonce);
}
/*Le sommeil*/
.le_sommeil {
    background-image: url("assets/image/royaume_askr.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.le_sommeil #idGame {
    background-color: var(--bleu-clair);
}

.le_sommeil .logoJeu {
    color: var(--bleu-moyen);
    -webkit-text-stroke: 1px var(--bleu-fonce);
}

.le_sommeil #text {
    color: var(--bleu-fonce);
    -webkit-text-stroke: 1px var(--bleu-moyen);
}

.le_sommeil .choix, .le_sommeil #btn-reset, .le_sommeil label {
    background-color: var(--bleu-moyen);
    color: var(--bleu-clair);
}

.le_sommeil .choix:hover, .le_sommeil #btn-reset:hover, .le_sommeil label:hover {
    background-color: var(--bleu-fonce);
}
/*Faire le début de chaque chapitre du royaume de Nifl avec ce style*/
/*royaume_nifl*/
.royaume_nifl {
    background-image: url("assets/image/royaume_nifl.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}
.royaume_nifl .logoJeu {
    color: var(--bleu-fonce);
    -webkit-text-stroke: 1px var(--bleu-clair);
}

/*repos_group*/
.repos_group {
    background-image: url("assets/image/nifl.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}
.repos_group .logoJeu {
    color: var(--bleu-fonce);
    -webkit-text-stroke: 1px var(--bleu-clair);
}

/*Temple de glace*/
.temple_glace {
    background-image: url("assets/image/royaume_nifl.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}
.temple_glace .logoJeu {
    color: var(--bleu-fonce);
    -webkit-text-stroke: 1px var(--bleu-clair);
}

/*Gunthrà vivante*/
.gunthra_vivante {
    background-image: url("assets/image/nifl.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}
.gunthra_vivante .logoJeu {
    color: var(--bleu-fonce);
    -webkit-text-stroke: 1px var(--bleu-clair);
}

/*Gunthrà lance*/
.gunthra_lance {
    background-image: url("assets/image/nifl.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}
.gunthra_lance .logoJeu {
    color: var(--bleu-fonce);
    -webkit-text-stroke: 1px var(--bleu-clair);
}

/*Entrer dedans*/
.entrer_dedans {
    background-image: url("assets/image/royaume_nifl.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}
.entrer_dedans .logoJeu {
    color: var(--bleu-fonce);
    -webkit-text-stroke: 1px var(--bleu-clair);
}

/*Faire le même style qu'ici pour gunthrà morte, rituel échoué(changer la couleur de l'arrière-plan) et la mauvaise fin(mettre une autre image ou une vidéo)*/
.village_detruit {
    background-image: url("assets/image/village_brule_01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.village_detruit #idGame {
    background-color: var(--rouge);
}

.village_detruit .logoJeu {
    color: var(--rouge);
}

.village_detruit #text, .village_detruit #chapitre {
    color: var(--orange);
}

.village_detruit .choix, .village_detruit #btn-reset, .village_detruit label {
    background-color: var(--orange);
    color: var(--rouge);
}

.village_detruit .choix:hover, .village_detruit #btn-reset:hover, .village_detruit label:hover {
    background-color: var(--orange);
    color: var(--jaune);
}
/*Chapitre blessure grave: changer le background-image si possible*/
.blessure_grave {
    background-image: url("assets/image/general_muspel.webp");
    background-color: var(--orange);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
}
.blessure_grave #idGame {
    background-color: var(--rouge);
}

.blessure_grave .logoJeu {
    color: var(--jaune);
}

.blessure_grave #text, .blessure_grave #chapitre {
    color: var(--orange);
}

.blessure_grave .choix, .blessure_grave #btn-reset, .blessure_grave label {
    background-color: var(--orange);
    color: var(--rouge);
}

.blessure_grave .choix:hover, .blessure_grave #btn-reset:hover, .blessure_grave label:hover {
    background-color: var(--orange);
    color: var(--jaune);
}
/*Chapitre gunthra morte*/
.gunthra_morte {
    background-image: url("assets/image/surtr_debout.webp");
    background-color: var(--orange);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
}

.gunthra_morte #idGame {
    background-color: var(--rouge);
}

.gunthra_morte .logoJeu {
    color: var(--rouge);
}

.gunthra_morte #text, .gunthra_morte #chapitre {
    color: var(--orange);
}

.gunthra_morte .choix, .gunthra_morte #btn-reset, .gunthra_morte label {
    background-color: var(--orange);
    color: var(--rouge);
}

.gunthra_morte .choix:hover, .gunthra_morte #btn-reset:hover, .gunthra_morte label:hover {
    background-color: var(--orange);
    color: var(--jaune);
}

/*Faire un style pour les bons choix et un autre pour les mauvais choix*/
.victoire_village {
    background-image: url("assets/image/village_askr.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.victoire_village #idGame {
    background-color: var(--bleu-clair);
}

.victoire_village .logoJeu {
    color: var(--bleu-moyen);
    -webkit-text-stroke: 1px var(--bleu-fonce);
}

.victoire_village #text {
    color: var(--bleu-fonce);
    -webkit-text-stroke: 1px var(--bleu-moyen);
}

.victoire_village .choix, .victoire_village #btn-reset, .victoire_village label {
    background-color: var(--bleu-moyen);
    color: var(--bleu-clair);
}

.victoire_village .choix:hover, .victoire_village #btn-reset:hover, .victoire_village label:hover {
    background-color: var(--bleu-fonce);
}

/*Rituel réussi*/
.rituel_reussi {
    background-image: url("assets/image/royaume_nifl.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}
.rituel_reussi .logoJeu {
    color: var(--bleu-fonce);
    -webkit-text-stroke: 1px var(--bleu-clair);
}
.rituel_reussi .choix, .rituel_reussi #btn-reset, .rituel_reussi label {
    color: var(--bleu-clair);
}

.rituel_reussi .choix:hover, .rituel_reussi #btn-reset:hover, .rituel_reussi label:hover {
    background-color: var(--bleu-clair);
    color: var(--bleu-fonce);
}

/*Rituel Échoué*/
.rituel_echoue {
    background-image: url("assets/image/nifl.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}
.rituel_echoue .logoJeu {
    color: var(--bleu-fonce);
    -webkit-text-stroke: 1px var(--bleu-clair);
}

/*Rituel évité*/
.rituel_evite {
    background-image: url("assets/image/nifl.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}
.rituel_evite .logoJeu {
    color: var(--bleu-fonce);
    -webkit-text-stroke: 1px var(--bleu-clair);
}

/*Royaume de muspel*/
.royaume_muspel {
    background-image: url("assets/image/muspel_v3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.royaume_muspel #idGame {
    background-color: var(--rouge);
}

.royaume_muspel .logoJeu {
    color: var(--rouge);
}

.royaume_muspel #text, .royaume_muspel #chapitre {
    color: var(--orange);
}

.royaume_muspel .choix, .royaume_muspel #btn-reset, .royaume_muspel label {
    background-color: var(--orange);
    color: var(--rouge);
}

.royaume_muspel .choix:hover, .royaume_muspel #btn-reset:hover, .royaume_muspel label:hover {
    background-color: var(--orange);
    color: var(--jaune);
}

/*Bonne Fin*/
.bonne_fin {
    background-image: url("assets/image/nifl.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.bonne_fin #idGame {
    background-color: var(--bleu-clair);
}

.bonne_fin .logoJeu {
    color: var(--bleu-moyen);
    -webkit-text-stroke: 1px var(--bleu-fonce);
}

.bonne_fin #text {
    color: var(--bleu-fonce);
    -webkit-text-stroke: 1px var(--bleu-moyen);
}

.bonne_fin .choix, .bonne_fin #btn-reset, .bonne_fin label {
    background-color: var(--bleu-moyen);
    color: var(--bleu-clair);
}

.bonne_fin .choix:hover, .bonne_fin #btn-reset:hover, .bonne_fin label:hover {
    background-color: var(--bleu-fonce);
}

/*Mauvaise Fin*/
.mauvaise_fin {
    background-image: url("assets/image/surtr.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.mauvaise_fin #idGame {
    background-color: var(--rouge);
}

.mauvaise_fin .logoJeu {
    color: var(--rouge);
}

.mauvaise_fin #text, .mauvaise_fin #chapitre {
    color: var(--orange);
}

.mauvaise_fin .choix, .mauvaise_fin #btn-reset, .mauvaise_fin label {
    background-color: var(--orange);
    color: var(--rouge);
}

.mauvaise_fin .choix:hover, .mauvaise_fin #btn-reset:hover, .mauvaise_fin label:hover {
    background-color: var(--orange);
    color: var(--jaune);
}

/*Fin Neutre*/
.fin_neutre {
    background-image: url("assets/image/muspel_v3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.fin_neutre #idGame {
    background-color: var(--rouge);
}

.fin_neutre .logoJeu {
    color: var(--rouge);
}

.fin_neutre #text, .fin_neutre #chapitre {
    color: var(--orange);
}

.fin_neutre .choix, .fin_neutre #btn-reset, .fin_neutre label {
    background-color: var(--orange);
    color: var(--rouge);
}

.fin_neutre .choix:hover, .fin_neutre #btn-reset:hover, .fin_neutre label:hover {
    background-color: var(--orange);
    color: var(--jaune);
}