:root {
    --bleu-fonce: #12355B;
    --bleu-moyen: #1C5D99;
    --bleu-clair: #2D93AD;
    --jaune: #EDF060;
    --orange: #F0803C;
    --rouge: #B3001B;
}

@font-face {
    src: url("assets/font/brazier_flame.ttf") format("truetype");
    font-family: "Brazier Flame";
}

/*Mise en page du body et centrer le div #game*/
body{
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Brazier Flame";
    background: linear-gradient(to right, var(--bleu-fonce), var(--bleu-moyen), var(--bleu-clair), var(--jaune), var(--orange), var(--rouge));
}

/*Mise en page de l'élément #game et flexbox pour ses enfants*/
#idGame {
    width: 500px;
    min-height: 100px;
    background-color: var(--bleu-moyen);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--bleu-clair);
}

/*Ajuster la taille du logo, de l'image temporaire, le text et de la vidéo*/
#divImage, img, .image, .video {
    width: 400px;
    height: 500px;
}

#text {
    width: 400px;
}

/*Aligner le titre au centre de l'affiche*/
.logoJeu {
    text-align: center;
    color: var(--jaune);
    width: 100%;
    -webkit-text-stroke: 1px var(--orange);
}

#chapitre {
    /*-webkit-text-stroke: 1px var(--bleu-clair);*/
    color: var(--bleu-fonce);
    /*background-color: var(--bleu-clair);*/
    padding: 5px;
    margin-bottom: 0px;
    margin-top: 0px;
}

/*Aligner les 3 options horizontalement et mettre le plus d'espace entre les éléments*/
#options, #reset {
    display: flex;
    width: 400px;
    margin: 10px;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
}

/*Mise en page du style des boutons*/
.choix, #btn-reset {
    background-color: var(--bleu-fonce);
    color: var(--bleu-clair);
    text-transform: capitalize;
    border: none;
    font-family: "Brazier Flame";
    padding-left: 2.5px;
    padding-right: 2.5px;
}

/*Effet de survole sur les boutons*/
.choix:hover, #btn-reset:hover {
    background-color: var(--orange);
    color: var(--rouge);
    
}

/*Cacher les vidéos sauf quand leurs chapitres apparaît sur l'écran*/
/*Par défault la vidéo est en display none pour la cacher*/
/*#divVideo {
    display: none;
    width: 400px;
}*/

